<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-fzpush" version="1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
	<dependency id="com.red_folder.phonegap.plugin.backgroundservice" url="https://github.com/Red-Folder/bgs-core.git"/>
    <dependency id="cordova-plugin-aps-notification" url="https://github.com/huangenai/cordova-plugin-aps-notification.git"/>

       <!-- android -->
    <platform name="android">

		<asset src="www/FzPushService.html" target="FzPushService.html" />

		<js-module src="www/cordova-plugin-fzpush.js" name="fzpush">
			<clobbers target="cordova.plugins.fzpush" />
		</js-module>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
  
            <service android:name="com.red_folder.phonegap.plugin.backgroundservice.sample.FzPushService">
                <intent-filter>         
                    <action android:name="com.red_folder.phonegap.plugin.backgroundservice.sample.FzPushService"/> 
                </intent-filter>     
            </service>
            
        </config-file>
        <framework src="org.eclipse.paho:org.eclipse.paho.client.mqttv3:1.1.0" />
		<framework src="com.android.support:support-v4:26.0.1" />
        <source-file src="src/android/FzPushService.java" target-dir="src/com/red_folder/phonegap/plugin/backgroundservice/sample" />
			 
    </platform>
</plugin>